* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 27px 24px 0px 24px;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    color: hsla(220, 51%, 17%, 1);
}

h2 {
    font-weight: 900;
    color: hsla(220, 51%, 17%, 1);
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: hsla(220, 23%, 58%, 1);
}



header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 327px;
}

.logo {
    width: 40px;
    height: 40px;
}

button {
    padding: 11px 14px 11px 14px;
    border: 0;
    border-radius: 8px;
    min-height: 48px;
    min-width: 150px;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}

header,
button {
    font-weight: 700;
    color: hsla(220, 50%, 17%, 1);
}

.header-button:hover{
   background-color: hsla(220, 50%, 17%, 1);
   color: white;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: hsla(221, 23%, 58%, 1);
}

main {
    margin-top: 64px;
    max-width: 327px;
}

.tablet-phone-keyboard,
.dekstop-phone-keyboard {
    display: none;
}

.tablet-glass-keyboard,
.dekstop-glass-keyboard {
    display: none;
}

.tablet-keyboard,
.desktop-keyboard {
    display: none;
}


.phone-phone-keyboard {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    mix-blend-mode: multiply;
    opacity: 0.75;
}

.blend-mobile {
    background-color: #f16718;
    border-radius: 25px;
    width: 150px;
    height: 200px;
    margin-left: -65px;
}

.phone-glass-keyboard {
    display: block;
    width: 200px;
    border-radius: 20px;
}

.mobile-keyboard {
    width: 373px;
    height: 320px;
    margin-top: 68px;
    margin-left: 0px;
    border-radius: 20px;
}

.collage {
    column-gap: 25px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    max-width: 300px;
}


.phone-keyboard {
    width: 150px;
    margin-left: -50px;
    border-radius: 20px;
}

.glass-keyboard {
    width: 200px;
    border-radius: 20px;
}

.review {
    display: flex;
    flex-direction: column;
}

.row button {
    background-color: hsla(22, 88%, 52%, 1);
    color: hsla(0, 0%, 100%, 1);
}


.design-review {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.design-review p {
    width: 398px;
    margin-top: 24px;
    width: 327px;
}

.design-review h2 {
    font-size: 32px;
    line-height: 36px;
    width: 255px;
    text-transform: uppercase;
}

.review .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review p {
    min-width: 327px;
    max-width: 445px;
    margin-top: 32px;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.row h4 {
    margin-left: 32px;
}

main .release {
    margin-left: 32px;
}

main .button {
    background-color: hsla(22, 88%, 52%, 1);
}


.square {
    display: none;
}

.collage {
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 64px;
    margin-top: 111px;
}

.details img {
    width: 68px;
    height: 68px;
    background-color: hsla(22, 88%, 52%, 1);

}

.box img {
    object-fit: none;
}

.box {
    width: 327px;
}

.box h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 40px;
    width: 327px;
}

.box p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 24px;
}


footer {
    margin-top: 96px;
    padding-bottom: 50px;
}

footer,
span {
    font-weight: 700;
}

.right-square {
    display: none;
}

.left-square {
    display: none;
}


@media (min-width: 768px) {

    body {
        padding: 49px 40px 0px 40px;
    }

    nav {
        max-width: 688px;
    }

    .phone-phone-keyboard,
    .dekstop-phone-keyboard {
        display: none;
    }

    .phone-glass-keyboard,
    .dekstop-glass-keyboard {
        display: none;
    }

    .tablet-phone-keyboard {
        display: block;
        width: 300px;
        height: 450px;
        border-radius: 30px;
        mix-blend-mode: multiply;
        opacity: 0.75;

    }
    
    .blend-tablet {
        background-color: #f16718;
        border-radius: 20px;
    }

    .tablet-glass-keyboard {
        display: block;
        width: 470px;
        height: 450px;
        border-radius: 40px;
    }

    .middle {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        max-width: 100%;
        flex-direction: column;
        max-width: 688px;
    }

    .collage {
        column-gap: 40px;
    }

    main {
        display: flex;
        align-items: center;
        margin-top: 50px;
        max-width: 688px;
    }

    .mobile-keyboard,
    .desktop-keyboard {
        display: none;
    }

    .tablet-keyboard {
        display: flex;
        width: 500px;
        border-radius: 20px;
        margin-left: 100px;
    }

    .review h2 {
        width: 339px;
    }

    .review p {
        padding-top: 34px;
        width: 339px;
    }

    .review h4 {
        padding-top: 0px;
        margin-left: 37px;
    }

    .square {
        display: none;
    }

    .design-review {
        display: flex;
    }

    .design-review p {
        margin-top: 0;
        width: 398px;
        padding-right: 40px;
    }

    .phone-keyboard {
        width: 270px;
        margin-left: 0;
    }

    .glass-keyboard {
        width: 478px;
    }

    .design-review {
        flex-direction: row;
        justify-content: space-between;
        text-align: unset;
    }

    .details {
        margin: auto;
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 142px;
    }



    .box {
        text-align: start;
        width: 339px;
    }

    .box h2 {
        font-size: 24px;
        line-height: 28px;
        margin-top: 40px;
        width: 180px;
    }

    .box p {
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        margin-top: 24px;
        width: 281px;
    }

    .row {
        text-align: center;
        align-items: center;
    }

    .review p {
        margin-top: 0;
    }

    footer {
        margin-top: 142px;
        padding-bottom: 43px;
    }

    .right-square {
        display: none;
    }

    .left-square {
        display: none;
    }

    .blend-mobile{
        display: none;
    }

    .blend-tablet{
        display: block;

    }

}


@media (min-width:1440px) {

    body {
        padding: 64px 165px 0px 165px;
    }

    nav {
        max-width: 1440px;
    }

    .tablet-phone-keyboard,
    .phone-phone-keyboard {
        display: none;
    }

    .tablet-glass-keyboard,
    .phone-glass-keyboard {
        display: none;
    }

    .dekstop-phone-keyboard {
        display: block;
        width: 250px;
        height: 480px;
        border-radius: 25px;
        mix-blend-mode: multiply;
        opacity: 0.75;
    }

    .blend {
        background-color: #f16718;
        border-radius: 25px;
    }

    .dekstop-glass-keyboard {
        display: block;
        width: 500px;
        height: 480px;
        border-radius: 25px;
    }

    header {
        flex-direction: column;
        max-width: 1440px;
        min-width: 327px;
        justify-content: space-between;
    }

    main {
        justify-content: unset;
        width: 100%;
        max-width: 1110px;
        justify-content: space-between;
        margin-top: 70px;
    }

    .keyboard-container {
        width: 400px;
        margin-left: 100px;
    }

    .right-square {
        display: flex;
        height: 240px;
        width: 255px;
        margin-left: 180px;
        margin-bottom: 360px;

    }

    .left-square {
        display: block;
        margin-left: -170px;
        margin-top: 120px;
    }

    .mobile-keyboard,
    .tablet-keyboard {
        display: none;
    }

    .desktop-keyboard {
        display: block;
        width: 700px;
        height: 600px;
        border-radius: 20px;

    }

    .middle {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 96px;
        max-width: 1110px;

    }

    .collage {
        gap: 30px;
    }

    .design-review {
        flex-direction: column;
        padding-left: 100px;
        margin-top: 0;
    }

    .design-review h2 {
        text-transform: uppercase;
        font-size: 32px;
        width: 255px;
    }

    .design-review p {
        margin-top: 27px;
        max-width: 255px;
        padding-right: 0;
    }

    .details {
        column-gap: 30px;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
    }

    .pair {
        display: flex;
    }

    .box {
        text-align: start;
        width: 255px;
    }

    .box h2 {
        width: 180px;
    }

    .box h2 {
        margin-top: 48px;
    }

    .box p {
        margin-top: 24px;
    }

    footer {
        margin-top: 128px;
        padding-bottom: 40px;
    }

}